.game{
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  width: 200px;
  margin: 0px;
}
.game div{
  margin: 0px;
  height: 20px;
  width: 20px;
  background-color: chartreuse;
  box-sizing: border-box;
  background-size:contain;
  image-rendering:pixelated;
}
.game .reitti{
  background-color: aqua;
}
.game .seina{
  background-color: purple
}
.game .kohde{
  background-color: blue;
}
.game .hahmo{
  background-color: red;
}